<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="template (content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="../scripts/categories.js"></script>
    <script src="../scripts/categoriesEditor.js"></script>
    <script src="../scripts/liveSearchCategories.js"></script>
    <script src="../scripts/newTransaction.js"></script>
    <script src="../scripts/navigationBar.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
</head>
<body>
<div class="container" id="page-general">

    <div class="nav-bar">
        <nav th:replace="~{fragments/navigation :: nav}">
        </nav>

    </div>
    <div class="main-content">
        <section th:replace="${content}">
        </section>

    </div>

</div>


</body>
</html>