<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav id="page-nav" th:fragment="nav">
    <div class="page-nav-list">
        <div class="nav-item">
            <a th:href="@{/logout}">
                <p>
                    <img class="nav-png" th:src="@{/icons/logout.svg}" alt="New transaction">
                </p>
            </a>
        </div>
        <div class="nav-item">
            <a th:href="@{/dashboard}">
                <p>
                    <img class="nav-png" th:src="@{/icons/home.svg}" alt="Dashboard">
                    <span> Dashboard</span>
                </p>
            </a>
        </div>
        <div class="nav-item" id="nav-new=transaction">
            <a th:href="@{/new-transaction}">
                <p>
                    <img class="nav-png" th:src="@{/icons/transaction.svg}" alt="New transaction">
                    <span> New transaction</span>
                </p>
            </a>
        </div>
        <!--        <div class="nav-item">-->
        <!--            <a>-->
        <!--                <p>-->
        <!--                    <img class="nav-png" th:src="@{/icons/report.svg}" alt="Reports">-->
        <!--                    <span> Reports</span>-->
        <!--                </p>-->
        <!--            </a>-->
        <!--        </div>-->
        <div class="nav-item">
            <a th:href="@{/history}">
                <p>
                    <img class="nav-png" th:src="@{/icons/history.svg}" alt="History">
                    <span> History</span>
                </p>
            </a>
        </div>
        <!--        onclick="categoriesBtn()-->
        <div class="nav-item" id="categories-btn">
            <a th:href="@{/categories}">
                <img class="nav-png" th:src="@{/icons/categories.svg}" alt="Categories">
                <span> Categories</span>
            </a>
        </div>
    </div>
</nav>
</body>
</html>