:root {
    --primary: #222222;
    --secondary: #1E87F0;
    --warning: #F0506E;
    --white: #FFFFFF;
    --input-box: #eff1f2;
    --backgroud:#f2f2f2;
    --window-height: 700px;
    --small-box_shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
                        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
                        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    background-color: white;
    overflow-y: hidden;
}

html, body {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

table tr > td:last-child {
    text-align: right;
}

.container {
    height: var(--window-height);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}

/* ------------------------- */
@media only screen and (max-width: 1364px) {
    .container {
        width: 80%;
        margin: 70px 10% 100px;
    }
:root {
    --font-size: 12px;
}
}

/*@media only screen and (max-width: 1400px) {*/
/*    .container {*/
/*        width: 90%;*/
/*    }*/
/*}*/

@media only screen and (min-width: 1400px) {
    .container {
        width: 80%;
        margin: 70px 10% 100px;
    }
    :root {
        --font-size: 16px;
    }
}

/*@media only screen and (min-width: 1950px) {*/
/*    .container {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/* ------------------------- */

#page-nav {
    padding: 10px 0;
}

#page-general {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: 15%;
    background-color: black;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.main-content {
    width: 100%;
    background-color: var(--backgroud);;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

/*.nav-bar {*/
/*    grid-area: 1 / 1 / 11 / 3;*/
/*    background-color: #222222;*/
/*}*/
/*.content {*/
/*    grid-area: 1 / 3 / 11 / 13;*/
/*    background-color: #FFFFFF;*/
/*}*/

.nav-png {
    width: 17px;
    height: 17px;
    object-fit: cover;
    vertical-align: middle;
}

.nav-item {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: #FFFFFF;
    cursor: grab;
}

.nav-item > a {
    margin-left: 10%;
    font-weight: bold;
}

.nav-item:hover {
    background-color: gray;
    border-radius: 10px;
}

#subcategories-btns {
    width: 100%;
}

.sub-flex > a {
    width: 100%;
    font-weight: bold;
    color: #FFFFFF;
    cursor: grab;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sub-nav-item {
    padding-left: 20%;
}

.sub-flex {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.sub-flex > a:hover {
    background-color: gray;
    border-radius: 10px;
}

.page-nav-list {
    display: flex;
    flex-direction: column;
}

ul {
    padding-inline-start: 5px;
}

.hide {
    display: none;
}

table tr > td:last-child {
    text-align: right;
}

#new-transaction-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.new-trans-table-row-left-side {
    width: 300px;
    margin-right: 10px;
    padding-right: 10px;
}

.new-transaction-category {
    display: flex;
    flex-direction: row;
}

.new-trans-table-row-left-side > h3 {
    margin-left: 10px;
}

.input-table-new-trans {
    background-color: #eff1f2;
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 4px;
    width: 300px;
    height: 20px;
    /*font-size: 15px;*/
    text-align: right;
    margin-right: 10px;
}

.table-row {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    /*padding: 25px 30px;*/
    margin-bottom: 5px;
    height: 35px;
}

.btn {
    background-color: var(--secondary);
    padding: 15px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 200;
    border: none;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1em;
}

.btn-new-transactions {
    width: 25%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    justify-content: space-between;
}

#table-new-transaction {
    margin-left: 5%;
    padding: 2%;
}

.new-transaction-table-box {
    background-color: white;
    width: 50%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: var(--small-box_shadow);
    border-radius: 10px;
}

.new-transaction-page-title {
    margin-top: 10px;
}

.new-transaction-plus-btn {
    display:block;
    width:25px;
    height:25px;
    line-height:25px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: orange;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: grab;
    margin-top: 10px;
    margin-left: 10px;
}

.error {
    text-align: left;
    color: red;
    padding: 0;
    font-size: 0.8em;
}

.error td {
    width: 300px;
}
/*HISTORY PAGE STYLES*/
#history-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.history-filters {
    height: 3%;
}

.history-main-table {
    /*margin: 20px;*/
    height: 87%;
}

.history-table {
    padding: 10px;
    box-shadow:var(--small-box_shadow);
    height: 100%;
    margin: 2% 5%;
    border-radius: 10px;
    background-color: white;
}

#history-table-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#history-table, #history-filters{
    margin-left: 2%;
    margin-right: 2%;
}

#history-page > div {
    width: 100%;
}

li {
    border-radius: 6px;
    padding: 15px 30px;
    display: flex;
    margin-bottom: 15px;
}


.table-header {
    display: flex;
    background-color: black;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 5px;
}

.table-row-history {
    width: 90%;
    display: flex;
    background-color: white;
    border-radius: 6px;
    padding: 10px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.history-col-content {
    /*margin-right: 30px;*/
}


.col-1 {
    width: 5%;
    padding-left: 0;
}
.col-1-header {
    width: 5%;
    padding-left: 0;
}
.col-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.col-2-header {
    width: 27%;
    display: flex;
    flex-direction: column;
}

.col-3 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-3-header {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-4 {
    width: 20%;
}

.col-4-header {
    width: 18%;
}

.col-5 {
    width: 5%;
}

.col-5-header {
    width: 5%;
}

.tag-history {
    background-color: green;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px;
}

.tag-history:empty {
    border: none;
    background-color: white;
}

.category-history {
    font-size: 0.9em;
}

.subcategory-history {
    margin-top: 2px;
    margin-left: 8px;
    font-size: 0.8em;
}

.amount-history {
    color: red;
}

.title-history {
    color: gray;
    font-size: 0.8em;
}

.id-history {
    background-color: dodgerblue;
    color: white;
    border-radius: 6px;
    font-size: 0.8em;
    padding: 5px;
}

.history-btn-delete,.history-btn-edit {
    cursor: grab;
    margin-right: 10px;
    margin-left: 10px;
}

.edit-btn {
    display: flex;
    flex-direction: row;
}

/*Select style*/

.select-dropdown {
    /*font-size: 15px;*/
    position: relative;
    background-color: var(--input-box);
    border-radius: 4px;
    width: 305px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid whitesmoke;
}

.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid whitesmoke;
}


/*CATEGORIES STYLES*/
.categories-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: 50px;
    width: 70%;
    height: 15px;
    horiz-align: center;
}

.categories-container {
    width: 300px;
    height: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subcategories-container > p {
    width: 70%;
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
    background-color: green;
    color: white;
    padding: 3px;
    cursor: grab;
}

.add-new-categories {
    margin-left: 40px;
}

.is-hidden {
    display: none;
}

#categories-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 85%;
    width: 70%;
    box-shadow:var(--small-box_shadow)
}

#categories-editor {
    height: 100%;
    width: 30%;
}

#searchbox {
    border-radius: 10px;
    font-size: 1em;
    width: 100%;
    margin-top: 12px;
    background-color: var(--backgroud);
    height: 40px;
    margin-right: 10px;

}

.categories-btn {
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: orange;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: grab;
    margin-top: 10px;
}



.category {
    margin-bottom: 5px;
}

.category-row {
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.category :hover {
    background-color: var(--backgroud);
    border-radius: 10px;
}

#card-list {
    margin-top: 10px;
    overflow-y: scroll;

}

.category-col {
    display: flex;
    flex-direction: row;
    margin: 8px 16px;
}

.category-col-values {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.category-col-values > p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.category-col-values > :last-child {
    padding-left: 10px;
}

.separator {
    border-bottom: 1px solid #D9D9D9;
    margin: 8px 1%;
}

/*categories editor*/
#categories-editor-page {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    justify-content: center;
    box-shadow: var(--small-box_shadow)
}

#categories-editor-content {
    padding: 10px;
}

.hidden-box{
    display: none;
    width: 0;
}

.editor-row {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.editor-row > input {
    color: gray;
}

.editor-checkbox-row {
    padding: 5px;
}

.editor-label {
    margin-top: 5px;
    margin-bottom: 15px;
}

.editor-input {
    background-color: var(--input-box);
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin-right: 10px;
    border: 1px solid whitesmoke;
}

.categories-search-panel {
    display: flex;
    flex-direction: row;
    /*margin-top: 10px;*/
    height: auto;
}

.page-title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.editor-btn-row {
    width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editor-btn {
    display:block;
    width:60px;
    height:35px;
    line-height:35px;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: orange;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
    cursor: grab;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#editor-subcategory-id {
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.color {
    width: 100%;
    height: 30px;
    position: relative;
}
.box{
    position: absolute;
    top: 0;
    left: 0;
}

#color-palette{
    margin-top: 30px; /* for demo purpose  */
    background-color: var(--backgroud);
    height: 350px;
    width: 370px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

#color-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

#color-picker {
    border-radius: 10px;
    width: 30%;
    height: 30px;
    margin-right: 10px;
    border: 1px solid whitesmoke;
    cursor: grab;
    background-color: #1E87F0;
}

.color-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1E87F0;
    z-index: 9;
    margin: 3px;
    cursor: grab;
}

.color-category {
    height: 100%;
    width: 20px;
    position: relative;
}

.color-category-element {
    height:20px;
    width: 20px;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    top: 30%;
}

.category-col-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

.category-col-1 {
    width: 5%;
}

.category-col-2 {
    width: 80%;
}

.category-col-3 {
    width: 5%;
}





