:root {
    --primary: #222222;
    --secondary: #1E87F0;
    --warning: #F0506E;
    --white: #FFFFFF;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html, body {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

table tr > td:last-child {
    text-align: right;
}

.container {
    margin: 100px auto 100px;
}

/* ------------------------- */
@media only screen and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 1950px) {
    .container {
        width: 50%;
    }
}

/* ------------------------- */

#page-nav {
    padding: 10px 0;
}

.page-general {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 50px);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }

    .nav-bar {
        grid-area: 1 / 1 / 11 / 3;
        background-color: #222222;
    }
    .content {
        grid-area: 1 / 3 / 11 / 13;
        background-color: #FFFFFF;
    }

.nav-png {
    width: 17px;
    height: 17px;
    object-fit: cover;
    vertical-align: middle;
}

.nav-item {
    list-style-type: none;
    height: 30px;
    padding: 10px 5px 10px;
    margin: 0;
    color: #FFFFFF;
}

ul {
    padding-inline-start: 5px;
}

.accordeon {
    width: 460px;
    height: auto;
    min-height: 340px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    display: block;
    position: relative;
    z-index: 10;
}

.accordeon-header {
    display: inline-block;
    width: 450px;
    border: solid 0.1vw black;
    border-radius: 0.2vw;
    background-color: white;
    padding-left: 10px;
    color: black;
}

.accordeon-header:hover {
    opacity: 0.7;
}

.accordeon-body {
    display: block;
    position: absolute;
}

.button-group {
    display: block;
    cursor: pointer;
    width: 460px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.accordeon-group {
    padding-left: 20px;
}

.accordeon-group .button-group {
    width: 100%;
}

.button-group[depth="-1"] {
    color: green;
}

.hide {
    display: none;
}
