:root {
    --primary: #222222;
    --secondary: #1E87F0;
    --warning: #F0506E;
    --white: #FFFFFF;
    --input-box: #eff1f2
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html, body {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

table tr > td:last-child {
    text-align: right;
}

.container {
    margin: 70px auto 100px;
    height: 850px;
    overflow-y: hidden;
}

/* ------------------------- */
@media only screen and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 1950px) {
    .container {
        width: 50%;
    }
}

/* ------------------------- */

#page-nav {
    padding: 10px 0;
}

#page-general {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*justify-content: space-between;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(12, 1fr);*/
    /*grid-template-rows: repeat(10, 50px);*/
    /*grid-column-gap: 10px;*/
    /*grid-row-gap: 0px;*/
}

.page-general > div {
    width: 20px;
    height: 20px;
    background-color: yellow;
    padding: 10px;
}

.nav-bar {
    width: 15%;
    background-color: #222222;
    height: 600px;
    margin: 0;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 10px;
}

.main-content {
    width: 65%;
    background-color: #ffffff;
    margin: 0;
    height: 600px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 10px;
}

/*.nav-bar {*/
/*    grid-area: 1 / 1 / 11 / 3;*/
/*    background-color: #222222;*/
/*}*/
/*.content {*/
/*    grid-area: 1 / 3 / 11 / 13;*/
/*    background-color: #FFFFFF;*/
/*}*/

.nav-png {
    width: 17px;
    height: 17px;
    object-fit: cover;
    vertical-align: middle;
}

.nav-item {
    list-style-type: none;
    height: 30px;
    padding: 10px 5px 10px;
    margin: 0;
    color: #FFFFFF;
}

ul {
    padding-inline-start: 5px;
}


.hide {
    display: none;
}

table tr > td:last-child {
    text-align: right;
}

.new-trans-table-row-left-side {
    width: 300px;
    margin-right: 10px;
    padding-right: 10px;
}

.new-trans-table-row-left-side > h3 {
    margin-left: 10px;
}

.input-table-new-trans {
    background-color: #eff1f2;
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 4px;
    width: 300px;
    height: 20px;
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 25px 30px;
    margin-bottom: 15px;
}

.btn {
    background-color: var(--secondary);
    padding: 15px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 200;
    border: none;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1em;
}

.btn-new-transaction {
    border-radius: 10px;
    width: 100px;
    height: 15px;
    text-align: center;
}

#table-new-transaction {
    margin-left: 50px;
    margin-top: 50px;
}

.error {
    text-align: left;
    color: red;
    padding: 0;
}

.error td {
    width: 300px;
}

li {
    border-radius: 6px;
    padding: 15px 30px;
    display: flex;
    margin-bottom: 15px;
}
.table-header {
    background-color: black;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 10px 30px;
}

.table-row-history {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 10px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.col-1 {
    width: 5%;
    padding-left: 0;
}
.col-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.col-3 {
    width: 45%;
}
.col-4 {
    width: 15%;
}
.col-5 {
    width: 5%;
}

.tag-history {
    background-color: green;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px;
}

.tag-history:empty {
    border: none;
    background-color: white;
}

.category-history {
    font-size: 15px;
}

.subcategory-history {
    margin-top: 2px;
    margin-left: 8px;
    font-size: 12px;
}


.amount-history {
    color: red;
}

.title-history {
    color: gray;
    font-size: 12px;
}

.id-history {
    background-color: dodgerblue;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px;
}

.edit-btn {
    display: flex;
    flex-direction: row;
}

/*Select style*/

.select-dropdown {
    font-size: 15px;
    position: relative;
    background-color: var(--input-box);
    border-radius: 4px;
    width: 305px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid whitesmoke;
}

.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid whitesmoke;
}


/*CATEGORIES STYLES*/
.categories-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: 50px;
    width: 70%;
    height: 15px;
    horiz-align: center;
}

.categories-container {
    width: 300px;
    height: auto;
    margin-left: 15px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}