<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #history-page})}">
<section id="history-page">

    <div class="history-filters" id="history-filters">
        <label>
            <input list="browsers" name="myBrowser"/></label>
        <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
        </datalist>
    </div>

    <div class="history-main-table">
        <div class="history-table">
<!--            <ul id="history-table">-->
                <div class="table-header">
                    <div class="col-1">ID</div>
                    <div class="col-2">
                        <div>Category</div>
                        <div>Subcategory</div>
                    </div>
                    <div class="col-3">
                        <div>Amount</div>
                        <div>Title</div>
                        <div>Tag</div>
                    </div>
                    <div class="col-4">Date</div>
                    <div class="col-5">Action</div>
                </div>
                <div class="table-row-history" th:each="transaction : ${transactions}">
                    <div class="col-1">
                        <span class="id-history" th:text="${transaction.id}"></span>
                    </div>
                    <div class="col-2">
                        <div class="category-history" th:text="${transaction.category}"></div>
                        <div class="subcategory-history" th:text="${transaction.subcategory}"></div>
                    </div>
                    <div class="col-3">
                        <div>
                            <span class="amount-history" th:text="|${transaction.amount} zł|"></span>
                        </div>
                        <div>
                            <span class="title-history" th:text="${transaction.title}"></span>
                        </div>
                        <div>
                            <span class="tag-history" th:text="${transaction.tag}"></span>
                        </div>
                    </div>
                    <div class="col-4" th:text="${transaction.date}"></div>

                    <div class="edit-btn col col-5">
                        <img class="nav-png" th:src="@{/icons/delete.svg}" alt="Delete">
                        <img class="nav-png" th:src="@{/icons/edit.svg}" alt="Edit">
                    </div>


                </div>
<!--            </ul>-->
        </div>

    </div>

</section>
</html>