<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #history-page})}">
<section id="history-page">
    <div class="history-main-table">
        <div class="history-table">
            <!--            <ul id="history-table">-->
            <div class="table-header">
                <div class="col-1-header">ID</div>
                <div class="col-2-header">
                    <div>Category</div>
                    <div>Subcategory</div>
                </div>
                <div class="col-3-header">
                    <div>Amount</div>
                    <div>Title</div>
                    <div>Tag</div>
                </div>
                <div class="col-4-header">Date</div>
                <div class="col-5-header">Action</div>
            </div>
            <div id="history-table-content">

            </div>

        </div>

    </div>

</section>
</html>