<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #home-page-content})}">
    <section id="home-page-content">
        <div>
            <div>
                <h2>Pizza neapolitańska</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
            <div class="button-row">
                <a class="btn" href="">Sprawdź nasze menu</a>
            </div>
        </div>
    </section>
</html>