<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #new-transaction-page})}">

<section id="new-transaction-page">

    <!--    th:fragment="new-trans"-->
    <div class="new-transaction-table-box">

        <div class="is-hidden new-transaction-id"></div>
        <div id="table-new-transaction">
            <h3 class="new-transaction-page-title">TRANSACTION EDITOR</h3>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side">
                    <h4>Amount </h4>
                </div>
                <div>
                    <input placeholder="0.00" type="text" class="input-table-new-trans" id="amount"/>
                </div>
            </div>
            <div class="error">
                <div colspan="2">
                    <span id="amount-error" hidden></span>
                </div>
                <div></div>
            </div>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side">
                    <h4>Date </h4>
                </div>
                <div>
                    <input placeholder="mm/dd/yyyy" type="text" id="datepicker" class="input-table-new-trans"/>
                </div>
            </div>
            <div class="error">
                <td colspan="2">
                    <span id="datepicker-error" hidden></span>
                </td>
                <td></td>
            </div>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side new-transaction-category">
                    <h4>Category </h4>
                    <div class="new-transaction-plus-btn" id="new-transaction-edit-btn">+</div>
                </div>
                <div>
                    <label>
                        <input class="select-dropdown" id="categories" list="categories-list"/></label>
                    <datalist id="categories-list">
                    </datalist>
                </div>
            </div>
            <div class="error">
                <td colspan="2">
                    <span id="category-error" hidden></span>
                </td>
                <td></td>
            </div>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side">
                    <h4>SubCategory </h4>
                </div>
                <div>
                    <label>
                        <input class="select-dropdown" id="subcategories" list="subcategories-list"/></label>
                    <datalist id="subcategories-list">
                    </datalist>
                </div>
            </div>
            <div class="error">
                <div colspan="2">
                    <span id="subcategory-error" hidden></span>
                </div>
                <div></div>
            </div>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side">
                    <h4>Title </h4>
                </div>
                <div>
                    <input placeholder="Title" type="text" class="input-table-new-trans" id="title"/>
                </div>
            </div>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side">
                    <h4>TAG </h4>
                </div>
                <div>
                    <input placeholder="Tag" type="text" class="input-table-new-trans" id="tag"/>
                </div>
            </div>
            <div class="separator"></div>
            <div class="table-row">
                <div class="new-trans-table-row-left-side">
                    <h4>Transaction type </h4>
                </div>
                <div class="new-tansaction-type">
                    <label for="transaction-income">Income</label>
                    <input type="checkbox" id="transaction-income">
                    <label for="transaction-expense">Expense</label>
                    <input type="checkbox" id="transaction-expense">
                </div>
            </div>
            <div class="separator"></div>
        </div>

        <div class="btn-new-transactions">
            <div>
                <p class="editor-btn" id="btn-submit">SUBMIT</p>
            </div>
            <div>
                <p class="editor-btn" id="btn-clear">CLEAR</p>
            </div>
        </div>
    </div>
    <div id="categories-editor" class="hidden-box">
        <div th:replace="~{fragments/categoriesEditor :: categoriesEditor}">
        </div>
    </div>
</section>
</html>