<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: template (~{:: #new-transaction-pag})}">
<section id="new-transaction-page">


    <div th:fragment="new-trans">
      <h2>Tutaj bedzie mozna dodac transakcje</h2>
        <div class="content">
            <div class="accordeon">
                <span class="accordeon-header">Select something</span>
                <div class="accordeon-body hide">
                </div>
            </div>
            <!--                <section th:replace="~{/newTransaction :: new-trans}">-->
            <!--                </section>-->
        </div>
    </div>


</section>
</html>